.theme-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.theme-toggle__input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .theme-toggle__slider {
    background-color: #333;

    &::before {
      transform: translateX(24px);
    }
  }

  &:focus + .theme-toggle__slider {
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
}

.theme-toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 26px;

  &::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
  }
}
