:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;

  padding: 0.6em 1.2em;
  
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible 
  {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
