:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:not(:disabled):hover {
    color: #535bf2;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;

  padding: 0.6em 1.2em;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1280px;
}

.v-m-32 {
  margin: 32px 0;
}

.v-m-24 {
  margin: 24px 0;
}

.h-m-t-24 {
  margin-top: 24px;
}

.h-m-r-24 {
  margin-right: 24px;
}
